.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

li.list-group-item {
    background-color: black;
    color: white;
}

main {
    min-height: calc(100vh - 100px);
}

.checked {
    color: orange;
}

.offcanvas-top {
    height: fit-content;
}

a {
    float: right;
}

div.dropdown-toggle {
    float: right;
}

.btn-close {
    float: right;
    margin-right: 15px;
}